<meta name="msapplication-TileColor" content="#{{ site.theme_color }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{"assets/icons/favicon/apple-touch-icon.png" | relative_url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{"assets/icons/favicon/favicon-32x32.png" | relative_url }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{"assets/icons/favicon/favicon-16x16.png" | relative_url }}" />
<link rel="manifest" href="{{"assets/icons/favicon/site.webmanifest" | relative_url }}" />
<link rel="mask-icon" href="{{"assets/icons/favicon/safari-pinned-tab.svg" | relative_url }}" color="#0000ff" />