<footer>

    <div class="wrapper">

        <div>
            <ul class="contact-list">
                <li class="p-name">
                    {%- if site.author -%}
                    {{ site.author | escape }}
                    {%- else -%}
                    {{ site.title | escape }}
                    {%- endif -%}
                </li>
                {%- if site.email -%}
                <li><a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {%- endif -%}
            </ul>
        </div>

        <div>
            <ul>
                {% for item in site.data.data-footer%}
                <li><img src="{{ item.icon }}" alt="{{ item.title }} logo" width="{{ item.size }}"><a href="{{ item.url }}" target="_blank" title="{{ item.title }}"> {{ item.title }} </a></li> 
                {% endfor %}
            </ul>
        </div>

    </div>

</footer>