<header class="navigation-bar">
    <nav>
        <div class="nav-links">
            <a href="{{ site.baseurl }}/index.html" title="The one and only">{{ site.title }}</a>
            <ul>
                {% for item in site.data.data-nav %}
                    <li><a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a></li> 
                {% endfor %}
            </ul>
        </div>
        <div class="eyes">
            <div class="eye"></div>
            <div class="eye"></div>
          </div>
      </nav>
</header>