<li class="portfolio-thumb">
    <h2><a href="{{ project.permalink }}" title="Go to {{ project.title }}">{{ project.title }}</a></h2>
    <ul class="portfolio-tags">
        {% for tag in project.tags %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    <a href="{{ project.permalink }}">
        <video class="project-thumbnails" width="100%" autoplay loop muted>
            <source src="assets/images/projects/thumbs/{{ project.thumbnail_path }}" type="video/mp4">
        </video>
    </a>
    <p class="portfolio-proj-desc">{{ project.description }}</p>
</li>