@function ratio($width, $height) {
    $ze: $height / $width;
    @return percentage($ze);
  }

$bg-color: #fff;
$primary-color: #00f;
$secondary-color: #f00;

$text-font: 'IBM Plex Mono', monospace;

$text-display: 3rem;
$text-h1: 2rem;
$text-h2: 1.5rem;
$text-h3: 1.2rem;
$text-body-l: 1.2rem;
$text-body-m: 1rem;
$text-body-s: 0.8rem;

$typewriterSpeed: 4s;
$typewriterCharacters: 12;

$s-spacing: 10px;
$m-spacing: 20px;
$l-spacing: 40px;

@mixin inline-list {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: $m-spacing;
    position: relative;

    a {
      text-decoration: none;
    }
  }

  li:last-child {
      margin-right: 0px;
  }

  li::after {
    content: '';
    position: absolute;
    bottom: 8px;
    right: -12px;
    width: 4px;
    height: 4px;
    background-color: $primary-color;
    border-radius: 4px;
  }

  li:last-child::after {
    content: '';
    width: 0px;
    height: 0px;
  }
}

@mixin external-link {
  a {
    width: fit-content;
    display: block;
    margin-top: $m-spacing;
    margin-bottom: $l-spacing;
    position: relative;
    font-weight: 600;

    &:hover::before {
        border: solid $secondary-color;
        border-width: 2px 2px 0px 0;
    }

    &:hover::after {
        background-color: $secondary-color;
    }
  }

  a::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    display: inline-block;
    border: solid $primary-color;
    border-width: 2px 2px 0px 0;
    bottom: 0.2em;
    right: -1.5em;
  }

  a::after {
    content: '';
    width: 1.2em;
    height: 2px;
    position: absolute;
    bottom: 0.6em;
    right: -1.6em;
    transform: rotate(-45deg);
    background-color: $primary-color;
  }
}

@import 
    "style/base",
    "style/navigation",
    "style/footer",
    "style/home",
    "style/portfolio",
    "style/project",
    "style/drawings";