.home {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "header header header header"
      "article article article aside";
    
    article {
      grid-area: article;

    }

    aside {
      grid-area: aside;
      height: fit-content;
      padding: $s-spacing;
      border-left: solid 2px $primary-color;
    }
  }
}

aside a {
  display: block;
  width: fit-content;
  margin-top: $l-spacing;
  font-weight: 600;
  transition: margin-left 200ms ease-in-out;
  &::after {
    content: '';
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: solid $primary-color;
    border-width: 2px 2px 0px 0;
    transform: rotate(45deg);
    margin-left: $s-spacing;
  }

  @media (min-width: 480px) {
    &:hover::after {
        border: solid $secondary-color;
        border-width: 2px 2px 0px 0;
    }

    &:active {
        margin-left: $s-spacing;
    }
}
}

.home-header {
    grid-area: header;
    border-bottom: solid 2px $primary-color;
  h1 {
      font-size: $text-display;
      position: relative;
      width: max-content;
      font-weight: 600;
    }
    
  h1::before,
  h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  h1::before {
    background: $bg-color;
    animation: typewriter $typewriterSpeed
      steps($typewriterCharacters) 1s forwards;
  }
  
  h1::after {
    width: 0.3rem;
    background: $primary-color;
    animation: typewriter $typewriterSpeed
        steps($typewriterCharacters) 1s forwards,
      blink 750ms steps($typewriterCharacters) infinite;
  }
}
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }

  .project-thumb {
    display: block;
    border-bottom: solid 2px $primary-color;
    margin-bottom: $l-spacing;

    @media (min-width: 600px) {
      padding-right: $l-spacing;
      padding-bottom: $l-spacing;
      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

.project-thumbnails {
  max-width: 600px;
  margin: 0 auto 0 auto;
  margin-bottom: $l-spacing;
}  

  .project-thumb-link {
    display: flex;
    @media (min-width: 600px) {
      padding-right: $l-spacing;
      &:hover {
        outline: solid 2px $primary-color;
      }
    }
  }
