.navigation-bar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: $bg-color;
    z-index: 2;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px $primary-color;
    justify-content: space-between;
    align-items: center;
    padding: $s-spacing;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            margin-right: $m-spacing;
            position: relative;
        }

        li:last-child {
            margin-right: 0px;
        }
        li::after {
            content: '';
            position: absolute;
            bottom: 8px;
            right: -12px;
            width: 4px;
            height: 4px;
            background-color: $primary-color;
            border-radius: 4px;
        }
        li:last-child::after {
            content: '';
            width: 0px;
            height: 0px;
        }
    }
}

.nav-link-selected a {
    text-decoration: underline;
    color: $secondary-color;
}

.nav-title {
    font-size: $text-h2;
    font-weight: 600;
    
    a {
        display: block;
    }
}

.eyes {
    position: fixed;
    top: $s-spacing;
    right: $s-spacing;
    width: fit-content;
    text-align: center;
    display: flex;

    .eye {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: $bg-color;
        border: solid 2px $primary-color;
        position: relative;
        overflow: hidden;
        margin-left: 4px;
    }

    .eye::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translate(-50%, -50%);
        background: $primary-color;
        border-radius: 50%;
    }
}
