.portfolio-projects {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-thumb {
    @media (min-width: 600px) {
        width: 33.333333%;
    }
}

.portfolio-tags {
    @include inline-list();
    
    li {
        margin-bottom: $m-spacing;
        line-height: 1rem;
    }
}

.portfolio-proj-desc {
    padding: $s-spacing;
}