.project-header {
    margin-bottom: $l-spacing;
    padding-bottom: $l-spacing;
    border-bottom: solid 2px $primary-color;

    h1 {
        margin-bottom: 0;
    }

    time {
        margin: 0;
        font-size: $text-body-s;
    }

    video {
        max-width: 640px;
    }
}

.project-info {
    @media (min-width: 480px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
        "text text text collabs";
    }
}

.project-description {
    grid-area: text;
    @include external-link;
}

.collaboration {
    grid-area: collabs;
}

.project-images {
    margin-bottom: $m-spacing;
    display: flex;
    flex-wrap: wrap;
    margin-top: $l-spacing;
    margin-bottom: $m-spacing;

    img {
    padding-bottom: $s-spacing;

        &:last-child {
            padding-bottom: 0;
        }

        @media (min-width: 600px) {
            width: 50%;
            padding: 0;
        }
    }
}

.more-projects {
    align-items: center;
    position: relative;
}

.previous, 
.next {
    position: absolute;
    top: 0;
    font-weight: 600;
}

.previous {
    left: 0;
    transition: left 200ms ease-in-out;

    @media (min-width: 480px) {
        &:hover .left-arrow {
            border: solid $secondary-color;
            border-width: 2px 2px 0px 0;
        }
        
        &:active {
            left: -$s-spacing;
        }
    }
}

.next {
    right: 0;
    transition: right 200ms ease-in-out;
    
    @media (min-width: 480px) {
        &:hover .right-arrow {
            border: solid $secondary-color;
            border-width: 2px 2px 0px 0;
        }

        &:active {
            right: -$s-spacing;
        }
    }
}

.left-arrow, 
.right-arrow {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: solid $primary-color;
    border-width: 2px 2px 0px 0;    
}

.left-arrow {
    transform: rotate(-135deg);
    margin-right: $s-spacing;
}

.right-arrow {
    transform: rotate(45deg);
    margin-left: $s-spacing;
}