---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <h2>{{ page.list_title | default: "Projects" }}</h2>
    <ul>
      {% assign projects = site.projects | sort: 'date' | reverse %}

      {% for project in projects %}
        {%- include project-thumb.html -%}
      {% endfor %}
    </ul>
    {% else %}
      <h2>{{ page.list_title | default: "Projects" }}</h2>
      <p>Coming soon!</p>
  {%- endif -%}

  {%- if site.drawings.size > 0 -%}
    <div class="latest-drawings">
      <h2>Latest Drawings</h2>

      {% assign drawings = site.drawings | sort: 'date' | reverse %}
      {% for drawing in drawings limit: 3 %}
        <h3>{{ drawing.title }}</h3>
        <img src="{{ drawing.image_path }}" alt="{{ drawing.title }}" />
      {% endfor %}
      <a href="{{ site.baseurl }}/drawings">View all drawings</a>

    </div>
  {% endif %}
</div>