---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <h2>{{ page.list_title | default: "Projects" }}</h2>
      <ul>
        {% for project in site.projects %}

        {%- include project-thumb.html -%}

        {% endfor %}
      </ul>
      {% else %}
        <h2>{{ page.list_title | default: "Projects" }}</h2>
        <p>Coming soon!</p>
  {%- endif -%}

  {%- if site.drawings.size > 0 -%}
  <div class="latest-drawings">

    <h2>Latest Drawings</h2>

    <!-- {% assign drawing = site.drawings | sort: 'date' | reversed %} -->

    {% for drawing in site.drawings limit: 3 %}

    <p>{{ drawing.title }}</p>
    {% endfor %}

  </div>
  {% endif %}

</div>