---
layout: default
---
<div class="home">
    {{ content }}
  {%- if site.projects.size > 0 -%}
    <article>
      <h2>{{ page.list_title | default: "Projects" }}</h2>
      <ul>
        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for project in projects %}
          {%- include project-thumb.html -%}
        {% endfor %}
      </ul>
    </article>
  {%- endif -%}
  {%- if site.drawings.size > 0 -%}
    <aside class="latest-drawings">
      <h2>Latest Drawings</h2>
      {% assign drawings = site.drawings | sort: 'date' | reverse %}
      <figure>
        {% for drawing in drawings limit: 3 %}
          <h3>{{ drawing.title }}</h3>
          <img src="{{ drawing.image_path }}" alt="{{ drawing.title }}" />
        {% endfor %}
      </figure>
      <a href="{{ site.baseurl }}/drawings" title="Go to Drawings">View all drawings</a>
    </aside>
  {% endif %}
</div>
