---
layout: default
---
<article class="project">

  <header class="post-header">
    <h1 class="project-tile">{{ page.title | escape }}</h1>
    <time class="dt-published" datetime="{{ page.date }}" itemprop="Project date">
    {%- assign date_format = site.minima.date_format | default: "%b %Y" -%}
      {{ page.date | date: date_format }}</time>
    {%- if page.collab -%}
      <p class="collabs">Collaboration with: {{ page.collab }}</p>
    {%- endif -%}
    <video class="project-video" autoplay loop muted>
      <source src="{{ page.thumbnail_path }}" type="video/mp4">
    </video>
  </header>

  <div class="project-container">
    {{ content }}
  </div>

</article>
